In [2]:
 %matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data = pd.read_csv(city_data_to_load)
ride_data = pd.read_csv(ride_data_to_load)

# Combine the data into a single dataset
combine_data = city_data.merge(ride_data,on='city')

# Display the data table for preview
combine_data

,city,driver_count,type,date,fare,ride_id
0,Richardfort,38,Urban,2018-02-24 08:40:38,13.93,5628545007794
1,Richardfort,38,Urban,2018-02-13 12:46:07,14.00,910050116494
2,Richardfort,38,Urban,2018-02-16 13:52:19,17.92,820639054416
3,Richardfort,38,Urban,2018-02-01 20:18:28,10.26,9554935945413
4,Richardfort,38,Urban,2018-04-17 02:26:37,23.00,720020655850
5,Richardfort,38,Urban,2018-04-21 03:44:04,9.54,3698147103219
6,Richardfort,38,Urban,2018-02-03 00:14:26,29.04,4982665519010
7,Richardfort,38,Urban,2018-02-08 15:50:12,16.55,2270463070874
8,Richardfort,38,Urban,2018-04-03 15:07:34,40.77,9496210735824
9,Richardfort,38,Urban,2018-02-19 14:09:20,27.11,8690324801449
10,Richardfort,38,Urban,2018-04-22 03:06:56,39.74,4081388893008
11,Richardfort,38,Urban,2018-01-31 14:51:01,43.92,4066949857460
12,Richardfort,38,Urban,2018-03-04 22:13:57,14.83,9474112834050
13,Richardfort,38,Urban,2018-03-28 19:33:00,7.75,5539056178883
14,Richardfort,38,Urban,2018-02-14 03:27:28,44.11,2503858662225
15,Richardfort,38,Urban,2018-04-27 11:59:25,30.31,6106446829435
16,Richardfort,38,Urban,2018-03-03 11:57:24,11.42,2916078036620
17,Richardfort,38,Urban,2018-01-13 10:08:54,25.81,9110913538598
18,Richardfort,38,Urban,2018-03-06 12:53:05,8.28,5127600643309
19,Richardfort,38,Urban,2018-02-05 16:12:04,42.22,4051093040264
20,Richardfort,38,Urban,2018-04-04 15:04:56,16.35,6077906760851
21,Richardfort,38,Urban,2018-03-05 16:00:59,4.85,3291539624738
22,Richardfort,38,Urban,2018-04-14 11:56:28,43.01,7636011510547
23,Richardfort,38,Urban,2018-01-21 23:20:53,10.91,3567611375530
24,Richardfort,38,Urban,2018-03-16 23:00:51,21.39,237473464569
25,Richardfort,38,Urban,2018-03-22 04:41:04,16.35,5934239154720
26,Richardfort,38,Urban,2018-01-03 01:06:17,5.32,3268844473610
27,Richardfort,38,Urban,2018-03-29 15:16:01,37.76,4802688422688
28,Williamsstad,59,Urban,2018-01-23 17:51:24,19.62,125986195523
29,Williamsstad,59,Urban,2018-03-29 21:43:04,35.58,4747780858464
...,...,...,...,...,...,...
2345,Bradshawfurt,7,Rural,2018-03-24 18:53:18,57.51,2301998876294
2346,Bradshawfurt,7,Rural,2018-03-24 07:34:03,19.89,7867402022145
2347,Bradshawfurt,7,Rural,2018-02-18 22:21:26,34.32,8881996813087
2348,Bradshawfurt,7,Rural,2018-04-08 13:46:03,55.19,1742954306812
2349,Bradshawfurt,7,Rural,2018-04-07 21:12:49,49.70,5088814323688
2350,Bradshawfurt,7,Rural,2018-02-23 12:00:59,37.05,2068423024643
2351,Bradshawfurt,7,Rural,2018-04-10 09:47:54,19.07,739305106253
2352,Bradshawfurt,7,Rural,2018-01-19 20:21:54,56.78,1253403506597
2353,Bradshawfurt,7,Rural,2018-01-30 10:55:23,51.39,1328274868072
2354,New Ryantown,2,Rural,2018-01-27 17:33:41,42.68,7994603753131
2355,New Ryantown,2,Rural,2018-04-18 19:43:54,42.97,230914178346
2356,New Ryantown,2,Rural,2018-02-04 23:54:51,45.70,3570428225530
2357,New Ryantown,2,Rural,2018-04-30 01:50:44,50.81,5357550405010
2358,New Ryantown,2,Rural,2018-04-05 21:38:18,50.98,4834855490008
2359,New Ryantown,2,Rural,2018-05-05 19:29:38,26.53,2302209966018
2360,Randallchester,9,Rural,2018-04-13 11:13:31,43.22,1076079536213
2361,Randallchester,9,Rural,2018-02-19 03:52:47,58.55,8004803682564
2362,Randallchester,9,Rural,2018-02-11 05:42:29,25.78,9010611749008
2363,Randallchester,9,Rural,2018-03-25 13:36:46,10.37,3216382725494
2364,Randallchester,9,Rural,2018-04-07 23:42:07,10.79,1615474447641
2365,Jessicaport,1,Rural,2018-01-01 09:45:36,43.69,2424875833354
2366,Jessicaport,1,Rural,2018-01-14 07:09:17,18.05,5405362355006
2367,Jessicaport,1,Rural,2018-04-13 16:08:11,39.89,6511242590852
2368,Jessicaport,1,Rural,2018-03-18 16:59:40,33.72,3046889917159
2369,Jessicaport,1,Rural,2018-05-01 08:14:47,22.44,3725278487786
2370,Jessicaport,1,Rural,2018-01-31 17:57:25,58.29,623154556195
2371,South Saramouth,7,Rural,2018-02-20 16:32:36,44.29,3622365199969
2372,South Saramouth,7,Rural,2018-01-28 15:55:33,31.25,7118046558393
2373,South Saramouth,7,Rural,2018-03-27 21:07:16,11.87,170351888128
2374,South Saramouth,7,Rural,2018-04-12 18:11:50,57.23,5081198789583

In [10]:
reduced_df = combine_data[['city','type']]
reduced_df
count_df = reduced_df['city'].value_counts()
count_df

/Users/miiinaa223/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/api.py:107: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

                      city_counts   type
West Angela                  39.0    NaN
South Karenland              38.0    NaN
North Jason                  35.0    NaN
Port Frank                   33.0    NaN
Liumouth                     33.0    NaN
South Phillip                31.0    NaN
South Michelleport           31.0    NaN
South Evanton                31.0    NaN
West Robert                  31.0    NaN
West Anthony                 30.0    NaN
Royland                      30.0    NaN
North Jasmine                30.0    NaN
New Kimberlyborough          30.0    NaN
Justinberg                   30.0    NaN
East Kaylahaven              29.0    NaN
Richardfort                  28.0    NaN
Karenside                    28.0    NaN
West Heidi                   28.0    NaN
Hurleymouth                  28.0    NaN
Loganberg                    28.0    NaN
Christopherfurt              27.0    NaN
Josephside                   27.0    NaN
Carriemouth                  27.0    NaN
East Marymouth               27.0    NaN
West Josephberg              26.0    NaN
Lake Danielberg              26.0    NaN
West Christopherberg         26.0    NaN
Port Samanthamouth           25.0    NaN
Lake Robertside              25.0    NaN
Jerryton                     25.0    NaN
...                           ...    ...
2345                          NaN  Rural
2346                          NaN  Rural
2347                          NaN  Rural
2348                          NaN  Rural
2349                          NaN  Rural
2350                          NaN  Rural
2351                          NaN  Rural
2352                          NaN  Rural
2353                          NaN  Rural
2354                          NaN  Rural
2355                          NaN  Rural
2356                          NaN  Rural
2357                          NaN  Rural
2358                          NaN  Rural
2359                          NaN  Rural
2360                          NaN  Rural
2361                          NaN  Rural
2362                          NaN  Rural
2363                          NaN  Rural
2364                          NaN  Rural
2365                          NaN  Rural
2366                          NaN  Rural
2367                          NaN  Rural
2368                          NaN  Rural
2369                          NaN  Rural
2370                          NaN  Rural
2371                          NaN  Rural
2372                          NaN  Rural
2373                          NaN  Rural
2374                          NaN  Rural

[2495 rows x 2 columns]

In [36]:
# Obtain the x and y coordinates for each of the three city types
rides_count = combine_data['city'].value_counts()
rides_df = pd.DataFrame(rides_count)
rides_df
#2 Sum fare
sum_fare = combine_data['fare'].sum()
#3 ave fare using #2
rides_df['ave_fare'] = sum_fare / rides_count
rides_df
#city_group = combine_data.groupby('city','type')
#rides_df['ave_purchase'] = total_purchase / rides_count
#rides_df

                      city      ave_fare
West Angela             39   1629.195897
South Karenland         38   1672.069474
North Jason             35   1815.389714
Port Frank              33   1925.413333
Liumouth                33   1925.413333
South Michelleport      31   2049.633548
South Evanton           31   2049.633548
West Robert             31   2049.633548
South Phillip           31   2049.633548
West Anthony            30   2117.954667
North Jasmine           30   2117.954667
New Kimberlyborough     30   2117.954667
Justinberg              30   2117.954667
Royland                 30   2117.954667
East Kaylahaven         29   2190.987586
Karenside               28   2269.237143
Loganberg               28   2269.237143
Hurleymouth             28   2269.237143
Richardfort             28   2269.237143
West Heidi              28   2269.237143
Josephside              27   2353.282963
Carriemouth             27   2353.282963
East Marymouth          27   2353.282963
Christopherfurt         27   2353.282963
Lake Danielberg         26   2443.793846
West Christopherberg    26   2443.793846
West Josephberg         26   2443.793846
West Samuelburgh        25   2541.545600
North Madeline          25   2541.545600
Lake Robertside         25   2541.545600
...                    ...           ...
Victoriaport            14   4538.474286
Williamsonville         14   4538.474286
North Markport          14   4538.474286
North Richardhaven      14   4538.474286
Lake Omar               14   4538.474286
North Jeffrey           13   4887.587692
East Kentstad           13   4887.587692
Lewishaven              12   5294.886667
Erikaland               12   5294.886667
Michaelberg             12   5294.886667
Lake Ann                12   5294.886667
Sotoville               11   5776.240000
Lake Latoyabury         11   5776.240000
Bradshawfurt            10   6353.864000
North Holly              9   7059.848889
East Aaronbury           9   7059.848889
West Heather             9   7059.848889
North Jaime              8   7942.330000
South Marychester        8   7942.330000
South Jennifer           7   9076.948571
Harringtonfort           6  10589.773333
Taylorhaven              6  10589.773333
New Ryantown             6  10589.773333
Lake Jamie               6  10589.773333
Jessicaport              6  10589.773333
Penaborough              5  12707.728000
Randallchester           5  12707.728000
Newtonview               4  15884.660000
South Saramouth          4  15884.660000
Garzaport                3  21179.546667

[120 rows x 2 columns]

In [ ]:
# Build the scatter plots for each city types
#rides_df.plot(kind='scatter',x='city',y='ave_purchase')

# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

# Show plot
plt.show()

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()