In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Player Count
purchasedata_SN = purchase_data.groupby('SN')
purchasedata_SN_count = (len(purchasedata_SN))
print(purchasedata_SN_count)

576

In [5]:
# Create a dictionary and a dataset to show the Player Count
Total_Players = {'Total Players' : [purchasedata_SN_count]}
Total_Players_df = pd.DataFrame(Total_Players)
Total_Players_df.head()

   Total Players
0            576

In [34]:
# Purchasing Analysis
Number_of_Unique_Items = (len(purchase_data.groupby('Item Name')))
Ave_Price = ("$" + str(round(purchase_data['Price'].mean(),2)))
Number_of_Purchases = (len(purchase_data))
Total_Revenue = ("$" + str(purchase_data['Price'].sum()))

In [36]:
# Create a dictionary and a dataset to show the Purchasing Analysis
Purchasing_Analysis = {'Number of Unique Items' : [Number_of_Unique_Items],'Average Price':[Ave_Price],'Number of Purchases':[Number_of_Purchases],'Total Revenue':[Total_Revenue]}
Purchasing_Analysis_df = pd.DataFrame(Purchasing_Analysis)
Purchasing_Analysis_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [65]:
# Gendar Demographics
#Gender_Count = print((len(purchase_data.groupby('Gender'))))
Gender_Count = print(purchase_data['Gender'].unique())
Gender_Count_df = pd.DataFrame(Gender_Count)

['Male' 'Other / Non-Disclosed' 'Female']

Empty DataFrame
Columns: []
Index: []