In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#2 Player Count
Count_Total_Players = len(purchase_data.groupby('SN'))
Count_Total_Players_dic = {'Total Players' : [Count_Total_Players]}
pd.DataFrame(Count_Total_Players_dic)

   Total Players
0            576

In [4]:
# 3 Purchasing Analysis (Total)
Number_of_Unique_Items = (len(purchase_data.groupby('Item Name')))
Ave_Price = ("$" + str(round(purchase_data['Price'].mean(),2)))
Number_of_Purchases = (len(purchase_data))
Total_Revenue = ("$" + str(purchase_data['Price'].sum()))

In [5]:
# Create a dictionary and a dataset to show the Purchasing Analysis
Purchasing_Analysis = {'Number of Unique Items' : [Number_of_Unique_Items],'Average Price':[Ave_Price],'Number of Purchases':[Number_of_Purchases],'Total Revenue':[Total_Revenue]}
Purchasing_Analysis_df = pd.DataFrame(Purchasing_Analysis)
Purchasing_Analysis_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [6]:
#4 Gender Demographics
Gender_df = purchase_data.groupby(['Gender'])
Count_Data = Gender_df.agg({'SN':pd.Series.nunique,'Price':'sum'})
Gender_Analysis = pd.DataFrame(Count_Data)
#4-1 Count of Data
Gender_Analysis['Total Count'] = purchase_data['Gender'].value_counts()
#4-2 Percentage of Players
Gender_Analysis['Percentage of Players'] = Gender_Analysis['Total Count'] / Gender_Analysis['Total Count'].sum()
#4-3 Clean data and show only the necessary data
Gender_Analysis_clean = Gender_Analysis[['Total Count','Percentage of Players']]
Gender_Analysis_clean

                       Total Count  Percentage of Players
Gender
Female                         113               0.144872
Male                           652               0.835897
Other / Non-Disclosed           15               0.019231

In [7]:
#5 Purchasing Analysis
#5-1 Rename and Clean
Purchasing_Analysis = Gender_Analysis_clean.rename(columns={'Total Count':'Purchase Count'})
del Purchasing_Analysis['Percentage of Players']
#5-2 Total Purchase Value
Purchasing_Analysis['Total Purchase Value'] = Gender_df['Price'].sum()
#5-3 Average Price
Purchasing_Analysis['Average Purchase Price'] = Purchasing_Analysis['Total Purchase Value'] / Purchasing_Analysis['Purchase Count']
#5-4 Avg Total Purchase per Person
Purchasing_Analysis

,Purchase Count,Total Purchase Value,Average Purchase Price
Gender,,,
Female,113,361.94,3.203009
Male,652,1967.64,3.017853
Other / Non-Disclosed,15,50.19,3.346000

In [8]:
#6 Age Demographics
bins = [0,9,14,19,24,29,34,39,40]
group_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","+40"]
pd.cut(purchase_data['Age'],bins,labels=group_labels).head()

0    20-24
1      +40
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < +40]

In [9]:
#6 put the bins in the Dataframe
purchase_data['Age_Group'] = pd.cut(purchase_data['Age'],bins,labels=group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,+40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [10]:
#6 Age Demographics
#6-1 Count
Group_Age = purchase_data.groupby(['Age_Group'])
Count_Age = purchase_data['Age_Group'].value_counts()
Age_Analysis = pd.DataFrame(Count_Age)
Age_Analysis_clean = Age_Analysis.rename(columns={'Age_Group':'Total Count'})
#6-2 Percentage of Players
Age_Analysis_clean['Percentage of Players'] = (Count_Age / Count_Age.sum())*100
Age_Analysis_clean

       Total Count  Percentage of Players
20-24          365              47.218629
15-19          136              17.593790
25-29          101              13.065977
30-34           73               9.443726
35-39           41               5.304010
10-14           28               3.622251
<10             23               2.975420
+40              6               0.776197

In [11]:
#7 Purchasing Analysis (Age)
Age_Analysis_clean['Total Purchase Value'] = Group_Age['Price'].sum() 
Age_Analysis_clean['Average Purchase Price'] = Age_Analysis_clean['Total Purchase Value']/ Age_Analysis_clean['Total Count']
#Age_df['Avg Total Purchase per Person'] =

Age_Analysis_clean

,Total Count,Percentage of Players,Total Purchase Value,Average Purchase Price
20-24,365,47.218629,1114.06,3.052219
15-19,136,17.593790,412.89,3.035956
25-29,101,13.065977,293.00,2.900990
30-34,73,9.443726,214.00,2.931507
35-39,41,5.304010,147.67,3.601707
10-14,28,3.622251,82.78,2.956429
<10,23,2.975420,77.13,3.353478
+40,6,0.776197,16.71,2.785000

In [12]:
#8 Top Spenders
SN_Group = purchase_data.groupby(['SN'])
Count_SN = purchase_data['SN'].value_counts()
SN_Analysis = pd.DataFrame(Count_SN)
SN_Analysis['Total Purchase Value'] = SN_Group['Price'].sum()
SN_Analysis['Average Purchase Price'] = SN_Analysis['Total Purchase Value']/SN_Analysis['SN']
SN_Analysis_Sort = SN_Analysis.sort_values('Total Purchase Value',ascending=False)
SN_Analysis_Sort.head()

             SN  Total Purchase Value  Average Purchase Price
Lisosia93     5                 18.96                3.792000
Idastidru52   4                 15.45                3.862500
Chamjask73    3                 13.83                4.610000
Iral74        4                 13.62                3.405000
Iskadarya95   3                 13.10                4.366667

In [13]:
#9 Most Popular Items
#9-1 Groupby
Group_Data = purchase_data.groupby(['Item ID','Item Name'])
Count_Data = Group_Data.agg({'Item Name':'count'})
Item_Analysis = pd.DataFrame(Count_Data)
#9-2 Purchase Count
Item_Analysis['Total Purchase']=Group_Data['Price'].sum()
#9-3 Item Price
Item_Analysis['Item Price']=Item_Analysis['Total Purchase']/Item_Analysis['Item Name']
Item_Analysis_Clean = Item_Analysis.rename(columns={'Item Name':'Count Total'})
#format change? Item_Analysis_Clean['Total Purchase'] = Item_Analysis_Clean['Total Purchase'].map('{:,.2f}'.format)
Item_Analysis_Clean

,,Count Total,Total Purchase,Item Price
Item ID,Item Name,,,
0,Splinter,4,5.12,1.28
1,Crucifer,3,9.78,3.26
2,Verdict,6,14.88,2.48
3,Phantomlight,6,14.94,2.49
4,Bloodlord's Fetish,5,8.50,1.70
5,Putrid Fan,4,16.32,4.08
6,Rusty Skull,2,7.40,3.70
7,"Thorn, Satchel of Dark Souls",7,9.31,1.33
8,"Purgatory, Gem of Regret",3,11.79,3.93
9,"Thorn, Conqueror of the Corrupted",4,10.92,2.73
10,Sleepwalker,4,7.16,1.79
11,Brimstone,5,18.25,3.65
12,Dawne,6,6.12,1.02
13,Serenity,4,5.64,1.41
14,Possessed Core,2,5.22,2.61
15,Soul Infused Crystal,5,14.80,2.96
16,Restored Bauble,4,14.20,3.55
17,"Lazarus, Terror of the Earth",4,6.80,1.70
18,"Torchlight, Bond of Storms",2,9.30,4.65
19,"Pursuit, Cudgel of Necromancy",8,8.16,1.02
20,Netherbane,5,16.35,3.27
21,Souleater,5,5.50,1.10
22,Amnesia,6,13.08,2.18
23,Crucifer,1,1.99,1.99
24,Warped Fetish,5,19.05,3.81
25,Hero Cane,6,26.10,4.35
26,Unholy Wand,2,2.24,1.12
27,"Riddle, Tribute of Ended Dreams",1,3.30,3.30
28,"Flux, Destroyer of Due Diligence",2,2.12,1.06
29,"Chaos, Ender of the End",5,9.90,1.98
...,...,...,...,...
154,Feral Katana,4,17.60,4.40
155,War-Forged Gold Deflector,5,5.05,1.01
156,Soul-Forged Steel Shortsword,5,8.85,1.77
157,"Spada, Etcher of Hatred",4,19.20,4.80
158,"Darkheart, Butcher of the Champion",2,4.90,2.45
159,"Oathbreaker, Spellblade of Trials",7,21.56,3.08
160,Azurewrath,6,26.40,4.40
161,Devine,5,8.80,1.76
162,Abyssal Shard,5,13.35,2.67
163,Thunderfury Scimitar,5,17.25,3.45
164,Exiled Doomblade,7,11.41,1.63
165,Bone Crushing Silver Skewer,4,19.44,4.86
166,Thirsty Iron Reaver,3,9.21,3.07
167,"Malice, Legacy of the Queen",4,14.44,3.61
168,"Sun Strike, Jaws of Twisted Visions",2,2.96,1.48
169,"Interrogator, Blood Blade of the Queen",4,8.72,2.18
170,Shadowsteel,4,15.88,3.97
171,Scalpel,3,5.37,1.79
172,Blade of the Grave,4,12.56,3.14
173,Stormfury Longsword,2,9.86,4.93
174,Primitive Blade,4,13.88,3.47
175,Woeful Adamantite Claymore,3,13.44,4.48
176,Relentless Iron Skewer,2,5.68,2.84
177,"Winterthorn, Defender of Shifting Worlds",2,4.16,2.08
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,4.23
179,"Wolf, Promise of the Moonwalker",6,26.88,4.48
180,Stormcaller,1,3.36,3.36
181,Reaper's Toll,5,8.30,1.66
182,Toothpick,3,12.09,4.03
183,Dragon's Greatsword,3,3.27,1.09

In [14]:
#10 Most Profitable Items
Item_Analysis_Sort = Item_Analysis_Clean.sort_values('Total Purchase',ascending=False)
Item_Analysis_Sort.head(5)

,,Count Total,Total Purchase,Item Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,4.23
82,Nirvana,9,44.10,4.90
145,Fiery Glass Crusader,9,41.22,4.58
92,Final Critic,8,39.04,4.88
103,Singed Scalpel,8,34.80,4.35